:root {
  /* widths */
  --main-container-max-width:380px;
  --main-container-padding:2rem;
  --main-container-block-margin:2rem;

  /* colors */
  --clr-red: hsl(1, 90%, 64%);
  --clr-blue: hsl(219, 85%, 26%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-very-light-grayish-blue: hsl(210, 60%, 98%);
  --clr-light-grayish-blue: hsl(211, 68%, 94%);
  --clr-light-grayish-blue_2: hsl(205, 33%, 90%);
  --clr-dark-grayish-blue: hsl(219, 12%, 42%);
  --clr-grayish-blue: hsl(219, 14%, 63%);
  --clr-grayish-blue-low:hsl(219,20%,63%,0.1);
  --clr-very-dark-blue: hsl(224, 21%, 14%);

  /* typography */
  --ff-Plus-Jakarta:"Plus Jakarta Sans", sans-serif;
}