.user__name,
.notification__text,
.message {
  font-size:var(--fs-user-name);
}

.notification__text,
.mark-all-read,
.message {
  color:var(--clr-dark-grayish-blue);
}

.notification__text,  
.mark-all-read,
.notification__passedtime,
.message {
  font-weight:600;
}

.user__name,
.emphasized,
.mark-all-read {
  cursor:pointer;
  
  transition:color 300ms ease;
}

:is(.user__name,.emphasized,.mark-all-read):hover {
  color:var(--clr-blue);
}

