.user__name,
.notification__text,
.message {
  font-size:var(--fs-user-name);
}

.notification__text,
.mark-all-read,
.message {
  color:var(--clr-dark-grayish-blue);
}

.notification__text,  
.mark-all-read,
.notification__passedtime,
.message {
  font-weight:600;
}
